<main class="container">
  <header>
    <h1>Solutions to Advent of Code {{ year() }}</h1>
    <div>
      <span>Choose year:</span>
      <app-year-nav (yearChange)="yearHandler($event)"></app-year-nav>
    </div>
  </header>
  <app-day-selector
    (selectorOutput)="daySelectedHandler($event)"
    (customContent)="customInputHandler($event)"
    [year]="year()"
  ></app-day-selector>

  @if (problemInput()) {
    <app-solution-dashboard
      [providedInput]="
        customInput().input == '' ? problemInput()! : customInput()
      "
    ></app-solution-dashboard>
  }
</main>
