<main class="container">
  <header>
    <h1>Solutions to Advent of Code 2023</h1>
    <nav>
      <span>Choose year:</span>
      <nav>
        <ul>
          @for (year of availableYears; track $index) {
            <li>
              <a
                role="button"
                [class.selected]="year === contestYear()"
                (click)="changeYear(year)"
                >{{ year }}</a
              >
            </li>
          }
        </ul>
      </nav>
    </nav>
  </header>
  <app-day-selector
    (selectorOutput)="daySelectedHandler($event)"
    (customContent)="customInputHandler($event)"
  ></app-day-selector>

  @if (problemInput()) {
    <app-solution-dashboard
      [providedInput]="
        customInput().input == '' ? problemInput()! : customInput()
      "
    ></app-solution-dashboard>
  }
</main>
