<div class="control-panel">
  <app-button (click)="computePartOne()">Solve Part One</app-button>
  <app-button (click)="computePartTwo()">Solve Part Two</app-button>
</div>
<div class="IO-panel">
  <div class="input-side">
    <pre><code ><span>Your input:</span><span >{{'\n'+(customInput()?.input ?? input())}}</span></code></pre>
  </div>
  <div class="divider" role="separator" aria-label="Divider"></div>
  <div>
    <pre><code><span>Your output:</span><span class="selectable">{{'\n'+problemOutput()}}</span></code></pre>
    <app-button (click)="handleCode()">Show code</app-button>
    @if (displayCode()) {
      <pre><code>{{solverCode()}}</code></pre>
    }
  </div>
</div>
