<select #dayselect (change)="handleDaySelect()">
  @for (day of adventDays(); track day.number) {
    <option
      [value]="day.selectValue"
      [selected]="selectedDay() === day.selectValue"
    >
      {{ day.label }}
    </option>
  }
</select>
<app-button (click)="customHandler()">Load custom input</app-button>
@if (customInput()) {
  <textarea (change)="submitCustom($event)">{{ textAreaContent() }}</textarea>
}
<div>
  <a [href]="selectedDayStatementUrl()" target="_blank"
    >Problem Statement for {{ selectedDayData()?.label }}</a
  >
</div>
